<div class="px2-interview-article-member-profile">
	<div class="px2-interview-article-member-profile__image">
		<img src="{{ photo }}" alt="{{ name }} 写真" style="border-color: {{ color }};" />
	</div>
	<div class="px2-interview-article-member-profile__body">
		<div class="px2-interview-article-member-profile__name">{{ name }}</div>
		<div class="px2-interview-article-member-profile__title">{{ title }}</div>
		<div class="px2-interview-article-member-profile__introduction">{{ introduction }}</div>
	</div>
</div>
